*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}
.video-section {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(168px, 94px, 1fr));
  gap: 1rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
  border-top: 4px solid #ffffff;
  justify-content: flex-end;
  margin-right: 5rem;
  margin-top: -3rem;
}
.video-section:first-child {
  border-top: none;
}

.video-container {
  display: flex;
  flex-direction: row;
}

.thumbnail {
  position: relative;
  display: flex;
}

.thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  right: 5px;
  bottom: 5px;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}
.thumbnail-image {
  width: 100%;
  height: 100%;
  min-width: 168px;
  min-height: 94px;
  max-width: 168px;
  max-height: 94px;
  background-color: #aaa;
}

.video-bottom-section {
  display: flex;
  align-items: flex-start;
  margin-top: 0.1rem;
  margin-left: 0.6rem;
}
.video-details {
  display: flex;
  flex-direction: column;
}
.video-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: black;
}
.video-channel-name {
  margin-bottom: 0.1rem;
  text-decoration: none;
  color: #555;
  transition: color 150ms;
}
.video-channel-name:hover {
  color: #111;
}
.video-channel-name,
.video-metadata {
  color: #555;
}

/* .videos,
.categories {
  background-color: #f9f9f9;
} */
.categories {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.category {
  margin-right: .7rem;
  word-wrap: none;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #e7e7e7;
  padding: 0.5rem 1rem;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 150ms;
}
.category:hover {
  background-color: #ddd;
}

.category.active {
  background-color: #606060;
  color: white;
  border-color: #eee;
}
.category:last-child {
  margin-right: 0;
}
.youtube-logo{
   height: 20px;
}
.menu{
    padding-right: 1rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.search-bar{
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
}
.search-input{
    width: 70%;
    font-size: inherit;
    padding: .4rem;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  
    
}
.search-btn{
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #777;
    background-color: #f8f8f8;
    border-left: none;
    cursor: pointer;
}

.search-btn:hover{
   background-color: #f0f0f0; 
}
.menu-icons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: 1.5rem;
}
.menu-channel-icon{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #aaa;
}
.mic{
    padding-left: 1rem;
}
/* .nav{
    display: flex;
    flex-direction: column;
    padding-left: .5rem;
    margin-left: .5rem;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.icon-name{
    text-decoration: none;
    font-size: 1.1rem;
    color: #111;
    text-decoration-line: none;
} */

.main-content{
 display: flex;
 flex-direction: row;
}
.main-video{
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: 1rem;
}
.recommended-videos{
    display: flex;
    width: 30%;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
}
.channel-details{
    display: flex;
    align-content: center;
    margin-top: -1rem;
}
.channel-icon{
    padding-right: .5rem;
}
.channel-icon-img{
    border-radius: 50%;
}
.channel-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.channel-name{
    margin-top: -1rem;
    text-decoration: none;
    color: #111;
}
.subscriber-count{
    margin-top: -2.5rem;
}
.subscribe-btn{
    margin-top: .4rem;
    padding: 0 16px;
    width: 94.56px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    border-width: 0px;
    background-color: #111;
    color: #ffffff;
    cursor: pointer;
    transition: color 150ms;
}
.subscribe-btn:hover{
    background-color: #aaa;
}
.channel-icon-and-name{
    display: flex;
    padding-right: 25px;
}
.like-share-download-save{
    display: flex;
    align-content: center;
    justify-content: flex-end;

}
.like-dislike{
    display: flex;
    padding-left: 181px;
}
.like-btn,.dislike-btn{
     margin-top: .4rem;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    border-width: 0px;
    background-color: #d0cece;
    color: #111;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: color 150ms;
}
.like-btn:hover,.dislike-btn:hover{
    background-color: #aaa;
}
.like-btn{
    display: flex;
    flex-direction: row;
    width: 70.56px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right:1px solid #716d6d;
}
.dislike-btn{
    display: flex;
    justify-content: center;
    width: 44.56px;
    height: 36px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;    
}
.share-btn{
    margin-top: .4rem;
    padding: 0 16px;
    width: 92.11px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    border-width: 0px;
    background-color: #d0cece;
    color: #111;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: color 150ms;
    margin-left: 10px;
    transition: color 150ms;
}
.share-btn:hover{
    background-color: #aaa;
}
.download-btn{
    margin-top: .4rem;
    padding: 0 16px;
    width: 118.34px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    border-width: 0px;
    background-color: #d0cece;
    color: #111;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: color 150ms;
    margin-left: 10px;
    transition: color 150ms;
}
.download-btn:hover{
    background-color: #aaa;
}
.more-btn{
    margin-top: .4rem;
    padding: 0 16px;
    width: 36px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 50%;
    border-width: 0px;
    background-color: #d0cece;
    color: #111;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: color 150ms;
    margin-left: 10px;
}
.more-btn:hover{
    background-color: #aaa;
}
.channel-metadata{
    width: 100%;
}
.channel-metadata-btn{
     width: inherit;
    display: flex;
    flex-direction: column;
    background-color: #d0cece;
    border-radius: 14px;
    color: #111;
    cursor: pointer;
    border-width: 0px;
    margin-top: .4rem;
    padding: 0 16px;
    font-size: 14px;
    transition: color 150ms;
}
.channel-metadata-btn:hover{
    background-color: #aaa;
}
.views-date{
    display: flex;
    font-weight: bold;
    margin-top: .4rem;
}
.main-video-views{
    padding-right: 7px;
}
.main-video-description{
    margin-top: .6rem;
    font-weight:400;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;

}
.description-title{
    padding-bottom: 20px;
}
.description-content{
    display: flex;
    flex-direction: row;
    padding-bottom: .4rem;
}
.show-more-description{
    font-weight: bold;
}
.all-comment-content{
    display: flex;
    flex-direction: column;
}
.comment-header{
    display: flex;
    flex-direction: column;
}
.comment-count-and-sort{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.comment-count{
    font-weight: bold;
    color: #111;
}
.sort-by-btn{
    padding-left: 35px;
    border-width: 0px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #111;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.post-comment-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    
}
.main-commenter-icon{
    margin-right: 15px;
}
.main-commenter-icon-img{
    border-radius: 50%;
    
}
.comment-input{
    width: inherit;
    display: flex;
    flex-direction: column;
}
.comment-input-box{
    margin-top: -.5rem;
    font-size: 14px;
    font-weight: 400;
    color: #111;
    border-width: 0px;
    width:inherit;
    border-bottom-color: #d0cece;
    border-bottom-width: 2px;
    height: 36px;
}
.comment-input-box:placeholder-shown{
    color: #d0cece;
}
.buttons-for-comment{
    display: flex;
    flex-direction: row;
}
.emoji-btn{
    margin-top: .4rem;
    width: 36px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 50%;
    border-width: 0px;
    background-color: #d0cece;
    color: #111;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: color 150ms;
}
.emoji-btn:hover{
    background-color: #aaa;
}
.cancel-comment{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.cancel-btn,.comment-btn{
    margin-top: .4rem;
    padding: 0 16px;
    width: 72.11px;
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    border-radius: 18px;
    border-width: 0px;
    background-color: #ffffff;
    color: #111;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: color 150ms;
    margin-left: 10px;
    transition: color 150ms;
    display: flex;
    align-content: center;
    justify-content: center;
}
.cancel-btn:hover{
    background-color: #aaa;
}
.comment-btn{
    width: 92.11px;
    cursor:default;
    background-color: #aaa;
}
.display-comments{
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.individual-comment{
    display: flex;
    flex-direction: row;
}
.commenter-icon-img{
    border-radius: 50%;
}
.individual-comment-metadata{
    display: flex;
    flex-direction: column;
    margin-left: .9rem;
}
.username-comment-time{
    display: flex;
    flex-direction: row;
}
.username-comment-time-link{
    text-decoration: none;
}
.username{
    font-size: 14px;
    font-weight: bold;
    color: #111;
}
.comment-time{
    font-size: 14px;
    color:#aaa;
    transition: color 150ms;
}
.comment-time:hover{
    color: #111;
}
.comment-text{
    margin-top: .4rem;
    font-size: 15px;
    font-weight: 400;
    color: #111;
}
.like-dislike-reply{
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
    font-size: 14px;
}
.comment-like-and-counter{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.comment-like-btn{
    /* margin-top: .4rem; */
    width: 36px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 50%;
    border-width: 0px;
    background-color: #ffffff;
    color: #111;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: color 150ms;
    margin-left: -.5rem;
}
.comment-like-btn:hover{
    background-color: #aaa;
}
.comment-like-counter{
    color: #aaa;
    margin-right: .3rem;
}
.comment-dislike-btn{
    /* margin-top: .4rem; */
    width: 36px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 50%;
    border-width: 0px;
    background-color: #ffffff;
    color: #111;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: color 150ms;
    margin-right: .8rem;
}
.comment-dislike-btn:hover{
    background-color: #aaa;
}
.comment-reply-btn{
    width: 53.59;
    height: 32px;
    background-color: #ffffff;
    font-weight: bold;
    color: #111;
    border-radius: 16px;
    border-width: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 150ms;
}
.comment-reply-btn:hover{
    background-color: #aaa;
}
.replies{

}
.more-replies-btn{
    display: flex;
    flex-direction: row;
    color: blue;
    font-weight: bold;
    font-size: 15px;
    background-color: #ffffff;
    border-width: 0px;
    border-radius: 16px;
    width: 117.48px;
    height: 36px;
    transition: color 150ms;
    cursor: pointer;
    align-items: center;
    margin-top: -.2rem;
    margin-bottom: .6rem;
}
.more-replies-btn:hover{
    background-color: rgb(165, 192, 243);
}
.reply-dropdown-img{
    margin-right: .5rem;
}
